{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
    {% comment %} <link href="https://unpkg.com/tailwindcss-cdn@3.4.3/tailwindcss-with-all-plugins.js" rel="stylesheet"> {% endcomment %}
    </head>
    <body class="flex items-center justify-center h-screen bg-gray-100">
        <div class="flex items-center justify-center h-screen bg-gray-100">
            <div class="bg-white p-8 rounded-lg shadow-lg max-w-md w-full">
                <h2 class="text-2xl font-semibold mb-6 text-center text-gray-700">{% trans 'Password reset' %}</h2>
                <p class="mb-4 text-center text-gray-600">{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
                <form method="post" class="space-y-4">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label for="id_email" class="block text-sm font-medium text-gray-700">{% trans 'Email address:' %}</label>
                        <input type="email" name="email" id="id_email" required class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm">
                        {{ form.email.errors }}
                    </div>
                    <div class="flex justify-center">
                        <button type="submit" class="w-full inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-emerald-600 border border-transparent rounded-md shadow-sm hover:bg-emerald-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-500">{% trans 'Reset my password' %}</button>
                    </div>
                </form>
            </div>
        </div>
        <script src="https://unpkg.com/tailwindcss-cdn@3.4.3/tailwindcss-with-all-plugins.js"></script>
    </body>
</html>
