{% extends "base.html" %}
{% block content %}
    <div class="max-w-lg w-full bg-white shadow-lg rounded-lg p-8 mx-auto mt-12">
        <h2 class="text-2xl font-semibold text-gray-900 mb-6">Upload Materials for CSE110</h2>
        <form method="post" enctype="multipart/form-data" class="space-y-6">
            <input type="hidden"
                   name="csrfmiddlewaretoken"
                   value="ExUm7gGmGFDfGJYSTfXfDr2rAAhgkwkTpqP07zEpkABB5dfUFG0wWe2aRKIP2Fr8">
            <!-- Interactive Dropzone file input -->
            <div class="relative my-6">
                <input id="id_file"
                       name="file"
                       type="file"
                       multiple
                       class="hidden"
                       onchange="updateFileName()" />
                <label for="id_file"
                       id="dropzone-label"
                       class="relative flex flex-col items-center gap-4 px-3 py-6 text-sm font-medium text-center transition-colors border border-dashed rounded cursor-pointer border-slate-300">
                    <span class="inline-flex items-center self-center justify-center h-12 px-3 rounded-full bg-slate-100/70 text-slate-400">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             aria-label="File input icon"
                             role="graphics-symbol"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke-width="1.5"
                             stroke="currentColor"
                             class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 16.5V9.75m0 0 3 3m-3-3-3 3M6.75 19.5a4.5 4.5 0 0 1-1.41-8.775 5.25 5.25 0 0 1 10.233-2.33 3 3 0 0 1 3.758 3.848A3.752 3.752 0 0 1 18 19.5H6.75Z" />
                        </svg>
                    </span>
                    <span id="file-upload-text" class="text-slate-500">
                        Drag & drop or
                        <span class="text-emerald-500">upload a file</span>
                    </span>
                </label>
            </div>
            <!-- End Dropzone file input -->
            <p>
                <label for="id_title" class="block text-sm font-medium text-gray-700">Title:</label>
                <input type="text"
                       name="title"
                       maxlength="255"
                       id="id_title"
                       class="mt-1 block w-full border-gray-300 rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm transition duration-150 ease-in-out">
            </p>
            <p>
                <label for="id_description" class="block text-sm font-medium text-gray-700">Description:</label>
                <textarea name="description"
                          cols="40"
                          rows="4"
                          id="id_description"
                          class="mt-1 block w-full border-gray-300 rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm transition duration-150 ease-in-out"></textarea>
            </p>
            <div class="flex items-center justify-between">
                <button type="submit"
                        class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-lg text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition duration-150 ease-in-out">
                    Upload
                </button>
                <a href="{% url 'classroom_detail' slug=classroom.slug %}"
                   class="text-sm font-medium text-indigo-600 hover:text-indigo-500 transition duration-150 ease-in-out">Back to Classroom</a>
            </div>
        </form>
    </div>
    <script>
function updateFileName() {
    const input = document.getElementById('id_file');
    const label = document.getElementById('dropzone-label');
    const fileUploadText = document.getElementById('file-upload-text');

    if (input.files.length > 0) {
        fileUploadText.textContent = input.files.length > 1 ? `${input.files.length} files selected` : input.files[0].name;
        label.classList.add('bg-slate-100/70', 'text-slate-800');
        label.classList.remove('text-slate-400');
    } else {
        fileUploadText.textContent = 'Drag & drop or upload a file';
        label.classList.remove('bg-slate-100/70', 'text-slate-800');
        label.classList.add('text-slate-400');
    }
}
    </script>
{% endblock content %}
